<link href="/public/stylesheets/commonPage/foot.css" rel="stylesheet" />
<body>
    <div class="foot-page-all">
        <div class="foot-inner-div">
            <div class="contact-info foot-lote">
                <div class="text-lote">
                    <span class="foot-head-lable">
                        <span>联系我  <span class="themes-color f14">CONTRACT INFO</span></span>
                    </span>
                    <span class="lable-title">
                        <span class="phone-picture BG-picture"></span>
                        <span class="lable-title-text">电话 </span>
                        <span class="themes-color f14">telephone</span>
                    </span>
                    <span class="lable-content">
                        <span class="lable-content-text">182 - 0012 - xxxx</span>
                    </span>
                    <span class="lable-title">
                        <span class="email-picture BG-picture"></span>
                        <span class="lable-title-text">邮箱 </span>
                        <span class="themes-color f14">email</span>
                    </span>
                    <span class="lable-content">
                        <span class="lable-content-text">wy641812518@outlook.com</span>
                    </span>
                </div>

            </div>

            <div class="friend-info foot-lote">
                <span class="foot-head-lable">
                    <span>友情链接  <span class="themes-color f14">friendly link</span></span>
                </span>
                <span class="friend-lable-all">
                    <a href="http://www.taobao.com" target="_blank"><span class="friend-lable">淘宝</span></a>
                    <a href="http://www.tmall.com" target="_blank"><span class="friend-lable">天猫</span></a>
                    <a href="http://www.jd.com" target="_blank"><span class="friend-lable">京东</span></a><br>
                    <a href="http://www.gome.com.cn" target="_blank"><span class="friend-lable">国美</span></a>
                    <a href="https://www.amazon.cn/" target="_blank"><span class="friend-lable">亚马逊</span></a>
                    <a href="http://www.yhd.com/" target="_blank"><span class="friend-lable">一号店</span></a><br/>
                    <a href="http://www.vancl.com/" target="_blank"><span class="friend-lable">凡客</span></a>
                    <a href="http://www.dangdang.com/" target="_blank"><span class="friend-lable">当当网</span></a>
                    <a href="http://www.vip.com/" target="_blank"><span class="friend-lable">唯品会</span></a><br>
                    <a href="http://www.suning.com/" target="_blank"><span class="friend-lable">苏宁</span></a>
                    <a href="http://www.newegg.cn/" target="_blank"><span class="friend-lable">新蛋网</span></a>
                    <a href="http://www.51youpin.com/" target="_blank"><span class="friend-lable">悠品网</span></a>
                </span>
            </div>

            <div class="share-info foot-lote">
                <span class="foot-head-lable">
                    <span>关于  <span class="themes-color f14">about us</span></span>
                </span>
                <span class="lable-content-text">一个人的战斗 - fight one</span><br>
                <span class="foot-head-lable">
                    <span>分享  <span class="themes-color f14">follow us</span></span>
                </span>
                <span class="share-label">
                    <span class="share-zone"></span>
                    <span class="share-sina"></span>
                    <span class="share-douban"></span>
                </span>
            </div>
        </div>
        <div class="foot-copyright-div">
            <div class="web-info-all">
                <span class="web-info">蜀 ICP 证 17006657 号 | Copyright © 2016 - All Rights Reserved . </span>
                <span class="web-info">四川 成都</span>
            </div>
        </div>
    </div>
    <div class="go-top-div">&lt;</div>
</body>
<script src="/public/javascripts/commonPage/foot.js"></script>
