
.foot-page-all{
    padding: 10px;
    width:100%;
    box-sizing: border-box;
    min-height: 200px;
    background: linear-gradient(to right top,#2386fe,white);
    font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif
}
.foot-inner-div{
    max-width: 1190px;
    width: 100%;
    margin:0 auto;
    position: relative;
    padding-top:20px;
    height: 230px;
}
.foot-lote{
    width:33%;
    height: 230px;
    display: inline-block;
    position: absolute;
    top:20px;
    text-align: center;
}
.foot-head-lable{
    font-size: 18px;
    text-transform:uppercase;
    display: block;
}
.themes-color{
    color: #f64141;
}
.f14{
    font-size: 14px;
}
.BG-picture{
    display: inline-block;
    vertical-align: middle;
}
.lable-title{
    line-height: 40px;
    display: block;
}
.phone-picture{
    height: 40px;
    width: 40px;
    background: url("/public/images/common/tubiao.png");
    background-repeat: no-repeat;
    background-position:-4px 0px;
    background-size:cover;
}
.lable-content{
    padding-left: 45px;
}
.email-picture{
    height: 40px;
    width: 40px;
    background: url("/public/images/common/tubiao.png");
    background-repeat: no-repeat;
    background-position:-43px 0px;
    background-size:cover;
}
.lable-content-text{
    font-size: 12px;
    line-height: 40px;
}
.friend-lable{
    font-size: 14px;
    color: black;
    text-decoration: none;
    padding: 10px 10px;
    display: inline-block;
    cursor: pointer;
}
.friend-lable:hover{
    color: #f64141;
}
.contact-info{
    left:0;
}
.friend-info{
    left:33%;
}
.share-info{
    left: 66%;
}
.text-lote{
    padding-left: 20%;
    text-align: left;
}
.share-label span{
    cursor: pointer;
    margin:0 10px;
    margin-top: 20px;
}
.share-zone{
    display: inline-block;
    height: 30px;
    width: 30px;
    background: url("/public/images/common/tubiao.png");
    background-repeat: no-repeat;
    background-position:-99px 0px;
    background-size:cover;
}
.share-sina{
    display: inline-block;
    height: 30px;
    width: 30px;
    background: url("/public/images/common/tubiao.png");
    background-repeat: no-repeat;
    background-position:-63px 0px;
    background-size:cover;
}
.share-douban{
    display: inline-block;
    height: 30px;
    width: 30px;
    background: url("/public/images/common/tubiao.png");
    background-repeat: no-repeat;
    background-position:-136px 0px;
    background-size:cover;
}
.web-info-all{
    text-align: center;
    width: 80%;
    margin:0 auto;
    text-align: center;
}
.foot-copyright-div{
    width:100%;
}
.go-top-div{
    height: 30px;
    width: 30px;
    transform: rotate(90deg);
    position: fixed;
    right:30px;
    bottom: 30px;
    border:1px solid #f64141;
    color: white;
    text-align: center;
    line-height: 30px;
    font-size: 30px;
    border-radius: 6px;
    background-color: rgba(246,65,65,0.4);
    cursor: pointer;
    display: none;
}
.go-top-div:hover{
    background-color: white;
    color: #f64141;
}
@media (max-width: 767px) {
    .text-lote{
        padding-left:0px;
        text-align: center;
    }
    .foot-lote{
        width:100%;
        display: block;
        top: 0px;
        position: static;
        height:auto;
        text-align: center;
    }
    .lable-content{
        padding-left: 10px;
    }
    .foot-inner-div{
        height: auto;
    }
    .lable-title{
        width: 100%;
        display: block;
    }
    .phone-picture{
        height: 20px;
        width: 20px;
        background-position: -2px 0px;
    }
    .email-picture{
        height: 20px;
        width: 20px;
        background-position: -21px 0px;
    }
    .share-label,.foot-head-lable{
        vertical-align: middle;
    }
    .foot-head-lable{
        margin-top:10px;
    }

    .web-info-all{
        line-height: 40px;
    }
    .foot-inner-div{
        padding-top: 0px;
    }
}
@media (min-width: 767px) and (max-width:991px) {

}
@media (min-width: 992px) and (max-width:1199px) {

}
@media (min-width: 1200px) {

}
@media (min-width: 1400px) {

}