.menu-outer-div{
    border-bottom: 1px solid #cccccc;
    background:linear-gradient(to right top,white,#2386fe);
}
.page-menu-div {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
}
.page-log-div{
    width: 160px;
    display: inline-block ;
    vertical-align: middle;
}
.log-img{
    width: 160px;
    cursor: pointer;
}
.page-menu-content-div{
    display: inline-block ;
    vertical-align: middle;
    margin-left: 60px;
}
.shop-menu-ul{
    display: none;
    position: absolute;
    top: 38px;
    width: 66px;
    padding: 0 20px;
    left: -20px;
    border-radius: 6px;
    background:linear-gradient(to left bottom,white,#2386fe);
}
.shop-menu-ul li{
    list-style: none;
    display: inline-block;
    font-size: 14px;
    color: white;
}
.shop-menu-ul li:hover{
    color: #31a5c7;
}
.type-menu-name{
    cursor: pointer;
    position: relative;
    height: 40px;
    line-height: 40px;
    display: inline-block;
}
.type-menu-name:hover .shop-menu-ul{
    display: block;
}
.log-sign-div{
    float: right;
    margin-top: 40px;
}
.log-sign-div a{
    text-decoration: none;
}
.l-s-text{
    font-size: 14px;
    color: #515151;
    cursor: pointer;
    margin-right: 10px;
    transition: all 0.2s linear;
}
.l-s-text:hover{
    color: #257cfd;
}