<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="一个人,yigeren,yi-ge-ren,导购,推荐">
    <meta name="description" content="世上最艰难的工作是什么？思想。凡是值得思想的事情，没有不是人思考过的；我们必须做的只是试图重新加以思考而已。给你提供最好。一个人的承诺">
    <link rel="shortcut icon" href="/public/images/index/Favicon.ico" mce_href=images/common/Favicon.ico""  type="image/x-icon"/>
    <title>一个人</title>
    <link rel="stylesheet" href="/public/stylesheets/userPage/login.css">
</head>
<body>
    <%include ../commonPage/pageHead.html %>
        <div class="login-page-all">
    <div class="content-div">
        <div class="scroll-div">
            <div class="login-div">
                <span class="user-lable">登录</span>
                <div class="rows error-notice">
                    <%= typeof errorData != "undefined" ?errorData:"" %>
                </div>
                <form action="/loginSignManage" method="post">
                    <div class="rows">
                        <span class="lable">用户名</span>
                        <input  placeholder="用户名/邮箱" type="text" id="loginUserName" name="loginUserName" class="input">
                    </div>
                    <div class="blank-div"></div>
                    <div class="rows">
                        <span class="lable">密码</span>
                        <input placeholder="密码"  type="password" id="loginPassword" name="loginPassword" class="input">
                    </div>
                    <div class="lable-div">
                        <a href="/forgetPassword">
                            <span class="find-password" id="findPasswordClick">忘记密码，找回</span>
                        </a>
                        <a href="/sign">
                            <span class="go-sign" id="signClick">还未注册，去注册</span>
                        </a>
                    </div>
                    <div class="blank-div"></div>
                    <div class="rows">
                        <button type="submit" id="LoginOk" class="save-button sign-ok-button">登录</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
    <%include ../commonPage/foot.html %>
</body>
    <script src="/public/javascripts/userPage/login.js" type="application/javascript"></script>
</html>