<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="一个人,yigeren,yi-ge-ren,导购,推荐">
    <meta name="description" content="世上最艰难的工作是什么？思想。凡是值得思想的事情，没有不是人思考过的；我们必须做的只是试图重新加以思考而已。给你提供最好。一个人的承诺">
    <link rel="shortcut icon" href="/public/images/index/Favicon.ico" mce_href=images/common/Favicon.ico""  type="image/x-icon"/>
    <title>一个人</title>
    <link rel="stylesheet" href="/public/stylesheets/userPage/userDetail.css">
</head>
<body>
<%include ../commonPage/pageHead.html %>
<div class="page-all-div">
    <div class="page-content-div">
        <%include ../commonPage/manageMenu.html %>
        <div class="good-up-load">

        </div>
    </div>

</div>
<%include ../commonPage/foot.html %>
</body>
    <script src="/public/javascripts/userPage/userDetail.js" type="application/javascript"></script>
</html>