<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="一个人,yigeren,yi-ge-ren,导购,推荐">
    <meta name="description" content="世上最艰难的工作是什么？思想。凡是值得思想的事情，没有不是人思考过的；我们必须做的只是试图重新加以思考而已。给你提供最好。一个人的承诺">
    <link rel="shortcut icon" href="/public/images/index/Favicon.ico" mce_href=images/common/Favicon.ico""  type="image/x-icon"/>
    <title>一个人</title>
    <link rel="stylesheet" href="/public/stylesheets/userPage/userDetail.css">
</head>
<body>
<%include ../commonPage/pageHead.html %>
<div class="page-all-div">
    <div class="page-content-div">
        <%include ../commonPage/manageMenu.html %>
        <div class="self-info-manage">
            <div class="self-info-line">
                <p class="welcome-label">欢迎回来，
                    <span class="user-nick-name-text"></span>
                </p>
            </div>
            <div class="user-manage-line">
                <span class="user-info-label">用户名:</span>
                <span class="user-data-label"><%= userInfo.userName %></span>
            </div>
            <div class="user-manage-line">
                <span class="user-info-label">邮箱:</span>
                <span class="user-data-label"><%= userInfo.email %></span>
            </div>
            <div class="user-manage-line">
                <span class="user-info-label">昵称:</span>
                <input type="text" value="<%= userInfo.nickName %>" class="nick-input">
                <span class="save-nick-name">保存</span>
            </div>
            <div class="user-manage-line">
                <span class="user-info-label">最大上传数量:</span>
                <span class="user-data-label"><%= userInfo.maxUpNum %></span>
            </div>
            <div class="user-manage-line">
                <span class="user-info-label">剩余上传数量:</span>
                <span class="user-data-label"><%= userInfo.hadUpNum %></span>
            </div>
        </div>
    </div>

</div>
<%include ../commonPage/foot.html %>
</body>
    <script src="/public/javascripts/userPage/userDetail.js" type="application/javascript"></script>
</html>